@import url("rimes.css");

html, body{
  font-family: 'Roboto', sans-serif !important;
  background-color: #FEFEFE;
  margin: 0;
}

.navbar {
/*  background-color: #F6F7FA;*/
  background-color: #343f52;
/*  background-color: var(--tint-darkgray2);*/
/*  background-color: var(--tint-darkblue2);*/
}

.navbar a{
  color: var(--white);
}

.navbar a:hover{
  color: var(--lightblue);
}

.navbar button.btn-outline-light:hover{
/*  background-color: var(--lightblue); */
/*  color: var(--white);*/
  color: var(--lightblue); 
  background-color: var(--white);
/*  border-color: var(--lightblue); */
}

.navbar button.btn-outline-secondary:hover{
  background-color: var(--lightblue) !important; 
}

.homepage {
  position: relative;
  background-color: #000000;
} 
.homepage::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('https://rimes.int/sites/default/files/styles/page_banner/public/banner/RIMES_Viz%20%281%29.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
}

.homepage-img{
  position: relative;
}

.homepage-text {
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.8) 2px 4px 3px;
}
.homepage-text h1 {
  font-weight: 500;
}

.homepage-caption{
  z-index: 3;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.15);
/*  background-color:rgba(255, 255, 255, 0.10);*/
}

#homepage-carousel img{
  overflow: hidden;
}

.site-logo img {
	max-height: 50px;
}

.cover-image {
  height: 190px;
  overflow: hidden;
}

.cover-image img {
  width: 100%;
  height: 100%;
}

.course-info {
  flex: 1;
}

.course-listing .course-title, .active-course-listing .active-course-title{
  font-weight: 600;
}

.course-listing-item a, .active-course-listing-item a {
  text-decoration: none;
  color: var(--darkgray);
}

.course-listing-item a:hover, .active-course-listing-item a:hover {
  text-decoration: none;
  color: var(--lightblue);
}

.course-listing .course-category, .course-listing .course-category a.course-link {
  font-size: 0.8rem;
}

li.courses-listing-item {
  display: inline-block;
}

ul.facet-list{
  padding-left: 0;
}

li.active-filter {
  display: inline;
}

li.active-filter button {
  border: 0;
  padding: 5px;
  background-color: var(--tint-darkgray3);
  -webkit-appearance: none;
}

li.clear-all-filters button {
  border: 0;
  padding: 5px;
  background-color: var(--tint-darkgray3);
  -webkit-appearance: none;
}

button.clear-filters{
  display: none;
}

.course {
/*  border-color: var(--lightblue) !important;*/
}

.course-header  {
  color: var(--white);
  background-color: var(--darkblue);
}

.course-header .course-organization img {
  max-width: 25px;
}

.course-header .course-image img {
  max-width: 100%;
}

.course-header h1 {
  font-weight: 700;
}

.course-image img{
  border: 10px solid var(--white);
}

.course-information h1, .course-information h2, .course-information h3, .course-information h4, .course-information h5, .course-information h6 {
  color: var(--darkblue);
}

.text-justify {
  text-align: justify;
}

.course-short-desc {
	text-align: justify;
  font-weight: 300;
  font-size: 0.9rem;
}

.info-table-label {
  font-weight: 600;
  font-size: 1.1rem;
}

.info-table-value {
  text-align: right;
}

main.container {
  min-height: 40vh;
}

.details section{
  clear: right;
}

.details section, .details section div {
  clear: left;
}

/*.resume-button-link button:hover {
  background-color: var(--white);
  color: var(--lightblue) !important;
  border-color: var(--lightblue);
}

.settings-button-link button:hover {
  background-color: var(--white);
  color: var(--darkgray) !important;
  border-color: var(--darkgray);
}*/

footer {
	background-color: #343f52;
	color: #FFFFFF;
}

.footer-logo {
	width: 125px;
}

footer a {
	text-decoration: none;
}

.ribbon-folded {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  
  position: absolute;
  inset: var(--t) auto auto 0;
  padding: 5px calc(10px + var(--r)) 5px 10px;
  clip-path: 
    polygon(
      0 0,
      calc(100% - var(--r)) 0,
      100% 50%,
      calc(100% - var(--r)) 100%,
      0 100%
      
    );
  background: #FAC91C;
}

.sr {
  display: none;
}