:root {
	--white: #FFFFFF;
  --darkblue: #10467C;
  --yellow: #FAC91C;
  --lightblue: #3785C6;
  --darkgray: #505159;
  --tint-darkblue1: #406B96;
  --tint-darkblue2: #88A3bE;
  --tint-darkblue3: #CFDAE5;
  --tint-yellow1: #FDB449;
  --tint-yellow2: #FDE48E;
  --tint-yellow3: #FEF4D2;
  --tint-lightblue1: #5F9DD1;
  --tint-lightblue2: #9BC2E3;
  --tint-lightblue3: #D7E7F4;
  --tint-darkgray1: #73747A;
  --tint-darkgray2: #A8A8AC;
  --tint-darkgray3: #DCDCDE;

}

.primary-darkblue {
	color: var(--darkblue);
}

.primary-yellow {
	color: var(--yellow);
}

.secondary-lightblue {
	color: var(--lightblue);
}

.secondary-darkgray {
	color: var(--darkgray);
}


.bg-primary-darkblue {
	background-color: var(--darkblue);
}

.bg-primary-yellow {
	background-color: var(--yellow);
}

.bg-secondary-lightblue {
	background-color: var(--lightblue);
}

.bg-secondary-darkgray {
	background-color: var(--darkgray);
}

.bg-primary-tint-darkblue1 {
	background-color: var(--tint-darkblue1);
}

.bg-primary-tint-darkblue2 {
	background-color: var(--tint-darkblue2);
}

.bg-primary-tint-darkblue3 {
	background-color: var(--tint-darkblue3);
}

.bg-primary-tint-yellow1 {
	background-color: var(--tint-yellow1);
}

.bg-primary-tint-yellow2 {
	background-color: var(--tint-yellow2);
}

.bg-primary-tint-yellow3 {
	background-color: var(--tint-yellow3);
}

.bg-primary-tint-lightblue1 {
	background-color: var(--tint-lightblue1);
}

.bg-primary-tint-lightblue2 {
	background-color: var(--tint-lightblue2);
}

.bg-primary-tint-lightblue3 {
	background-color: var(--tint-lightblue3);
}

.bg-primary-tint-darkgray1 {
	background-color: var(--tint-darkgray1);
}

.bg-primary-tint-darkgray2 {
	background-color: var(--tint-darkgray2);
}

.bg-primary-tint-darkgray3 {
	background-color: var(--tint-darkgray3);
}

.border-primary-darkblue {
	border-color: var(--darkblue) !important;
}

.border-primary-yellow {
	border-color: var(--yellow) !important;
}

.border-secondary-lightblue {
	border-color: var(--lightblue) !important;
}

.border-secondary-darkgray {
	border-color: var(--darkgray) !important;
}